@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container mb-3 d-flex align-items-center flex-column" style="margin-top: -2rem">
    <div class="jumbotron">
        <p>
            <div class="d-flex justify-content-center">
                <h1 class="text-danger">ACESSO NEGADO</h1>
            </div>
            <h5 class="alert alert-danger d-inline-block">Você não possui autorização para acessar esse recurso.</h5>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-light">Voltar para Home</a>
</div>